{{$sites :=.Sites.First.GetPage "/uploads"}}
{{$bread:= .}}
{{with .Params.sec_2_pic }}

  {{range $index, $element:=.}}
    {{$tytul_odnosnika:=.tytul_odnosnika}}
    {{$header_repeater:=.header_repeater}}
    {{$adres_odnosnika:=.adres_odnosnika}}
    {{$strona_producenta:=.strona_producenta}}
    {{$opis_sekcji:=.opis_sekcji}}
    {{$zdjecie:=.zdjecie}}
    {{$logo:=.logo}}
    {{$alt_img := .alt_img}}
    {{$alt_img_2 := .alt_img_2}}
<section id="{{.kotwica}}" class="dist-prod-area dist-{{$index}}" >
  {{if eq $index 0}}
  {{ partial "breadcrumbs.html" $bread }}
  {{end}}
    {{with .zdjecie2}}
    <div class='dist-first-row'>
      <div class="header-cnt">
        <div class='brand-logo'>
          {{- partial "img.html" (dict "image" $logo "imgsizes" "40vw" "tag_class" "banner-img" "ifsrcset" "nosrcset" "awsites" $sites)  -}}
        </div>
        {{- partial "header-tag.html" (dict "context" . "header_list" $header_repeater "custom_class" "banner-header")  -}}
        <div class="description-wrapper">
        
     
          {{ if $adres_odnosnika }}
            {{ with site.GetPage $adres_odnosnika }}
                <a class='' href='{{.RelPermalink}}'>{{$tytul_odnosnika}}</a>
            {{end}}
          {{end}}
        </div>
      </div>
      
      <div class="image-wrapper">
        {{- partial "img.html" (dict "image" $zdjecie "imgsizes" "80vw" "tag_class" "banner-img" "imgalt" $alt_img "ifsrcset" "" "awsites" $sites)  -}}
      </div>
    </div>
    <div class='dist-second-row'>
      <div class="image-wrapper">
        {{- partial "img.html" (dict "image" . "imgsizes" "80vw" "tag_class" "banner-img" "imgalt" $alt_img_2 "ifsrcset" "" "awsites" $sites)  -}}
      </div>
      
    </div>
    <div class="dist-third-row">
      <div class="desc-cnt">{{$opis_sekcji | safeHTML}}</div>
      {{ with  $strona_producenta }}
              <a class='cta-button' href='{{.}}' rel="nofollow">Brand homepage<img class='arr-ico' src="{{ `images/arr_white.svg` | absURL }}"></a>
      {{end}}
      
    </div>
    {{else}}
      <div class='dist-row'>
        <div class="header-cnt">
          <div class='brand-logo'>
            {{- partial "img.html" (dict "image" $logo "imgsizes" "40vw" "tag_class" "banner-img" "ifsrcset" "nosrcset" "awsites" $sites)  -}}
          </div>
          {{- partial "header-tag.html" (dict "context" . "header_list" .header_repeater "custom_class" "banner-header")  -}}
          <div class="description-wrapper">
          
            {{$tytul_odnosnika:=.tytul_odnosnika}}
            {{ if .adres_odnosnika }}
              {{ with site.GetPage .adres_odnosnika }}
                  <a class='' href='{{.RelPermalink}}'>{{$tytul_odnosnika}}</a>
              {{end}}
            {{end}}
          </div>
        </div>
        
        <div class="image-wrapper">
          {{- partial "img.html" (dict "image" .zdjecie "imgsizes" "100vw" "tag_class" "banner-img" "imgalt" $alt_img  "ifsrcset" "" "awsites" $sites)  -}}
          <div class="desc-cnt">
            <div>{{.opis_sekcji | safeHTML}}</div>
            {{ with  .strona_producenta }}
                <a class='cta-button' href='{{.}}' rel="nofollow">Brand homepage<img class='arr-ico' src="{{ `images/arr_white.svg` | absURL }}"></a>
            {{end}}

          </div>
          
        </div>
      </div>
  
    {{end}}
  </section>
  {{end}}
{{end}}
{{with .Params.sekcja_ze_zdj_ciem }}
<section class='dist-pics-sec'>
  {{$alt_img := .alt_img}}
  {{$alt_img_mb_1 := .alt_img_mb_1}}
  {{$alt_img_mb_2 := .alt_img_mb_2}}
  {{with .zdjecie_duze}}
    <div class='big-pic'>
      {{- partial "img.html" (dict "image" . "imgsizes" "100vw" "tag_class" "banner-img"  "imgalt" $alt_img "ifsrcset" "" "awsites" $sites)  -}}
    </div>
  {{end}}
  {{with .zdjecie_1_mobilne}}
    <div class='mobile-pic-first'>
      {{- partial "img.html" (dict "image" . "imgsizes" "100vw" "tag_class" "banner-img"  "imgalt" $alt_img_mb_1 "ifsrcset" "" "awsites" $sites)  -}}
    </div>
  {{end}}
  {{with .zdjecie_2_mobilne}}
    <div class='mobile-pic-second'>
      {{- partial "img.html" (dict "image" . "imgsizes" "100vw" "tag_class" "banner-img" "imgalt" $alt_img_mb_2 "ifsrcset" "" "awsites" $sites)  -}}
    </div>
  {{end}}
</section>
{{end}}