<header class="navigation">
  <div class='top-cnt'>
    {{ $my_top_data := site.Data.ustawienia }}
    {{with $my_top_data}}
      {{with .top_settings}}
          {{with .email}}
                <a href="mailto:{{ .}}"><img src="{{`images/Icon-material-email.svg` | absURL }}">{{.}}</a>
          {{end}}
          {{with .phone}}
            <a href="tel:{{ replaceRE "(\\s)" "" .}}"><img src="{{`images/Icon-awesome-phone-alt.svg` | absURL }}">{{.}}</a>
          {{end}}
          <div class="social-area">
            {{range .social_links}}
              <a href="tel:{{.odnosnik}}" target="_blank" rel="nofollow"><img src="{{.ikona}}"></a>
            {{end}}
          </div>
      {{end}}
     
    {{end}}
  </div>

  <div class="menu-container">
 
      
    <nav class="navbar fixed-top navbar-expand-lg">
      <a class="navbar-brand anchor" href="{{ .Site.BaseURL }}">
        {{with $my_top_data.top_settings}}
        <img src="{{.logo_w_menu}}" class="img-fluid" alt="logo">
        {{end}}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav">
        <span class="navbar-toggler-icon">
          <img src="{{`images/hamburger-icon.png` | absURL }}" class="img-fluid" alt="menu">
        </span>
      </button>
      <div class="collapse navbar-collapse" id="main-nav">
        <ul class="navbar-nav ml-auto">
         {{ range .Site.Menus.main }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
    </nav>
     
    
  </div>
</header>