{{$sites :=.Sites.First.GetPage "/uploads"}}
{{$bread:= .}}
{{ with .Params.banner }}
  {{if (isset . "zdjecie")}}
  {{ $alt_img :=.alt_img}}
  <section class="banner-area" >
    {{with .zdjecie}}
    <div class="banner-img-wrapper">
      
      
        
      
     
        {{- partial "img.html" (dict "image" . "imgsizes" "80vw" "tag_class" "banner-img" "imgalt" $alt_img "ifsrcset" "" "awsites" $sites)  -}}
    
      
    </div>
    {{end}}
    <div class="banner-logo-cnt"> <img class='banner-logo' src="{{ `images/s-brands-logo.svg` | absURL }}"></div>
   
    <div class='header-cnt'>
      
      
      {{- partial "header-tag.html" (dict "context" . "header_list" .header_repeater "custom_class" "banner-header")  -}}
      <p class="banner-desc">
        {{ .opis_pod_naglowiekm | safeHTML }}
      </p>

    </div>
    {{ partial "breadcrumbs.html" $bread }}
  </section>
  {{end}}

{{end}}
{{ with .Params.nasza_wizja }}
  <section class="vision-area" >
    <div class="header-cnt">
      {{- partial "header-tag.html" (dict "context" . "header_list" .header_repeater "custom_class" "banner-header")  -}}
      <div class="description-wrapper">
        <p>{{.opis_sekcji | safeHTML}}</p>
        {{$tytul_odnosnika:=.tytul_odnosnika}}
        {{ if .adres_odnosnika }}
          {{ with site.GetPage .adres_odnosnika }}
              <a class='cta-button' href='{{.RelPermalink}}'>{{$tytul_odnosnika}}<img class='arr-ico' src="{{ `images/arr_white.svg` | absURL }}"></a>
          {{end}}
        {{end}}
      </div>
    </div>
    
    <div class="image-wrapper">
      {{- partial "img.html" (dict "image" .zdjecie "imgsizes" "80vw" "tag_class" "banner-img" "imgalt" .alt_img  "ifsrcset" "" "awsites" $sites)  -}}
    </div>
  </section>
{{end}}
{{ with .Params.jakosc_uslug }}
  <section class="quality-area" >
    <div class='header-cnt'>
      
      
      {{- partial "header-tag.html" (dict "context" . "header_list" .header_repeater "custom_class" "banner-header")  -}}
      <img class='arr-red-ico' src="{{ `images/arr_red.svg` | absURL }}">
      <p class="qual-desc">
        {{ .opis_sekcji | safeHTML }}
      </p>
      
    </div>
    {{ with .grupa}}
        <ul class="qual-cols cols-qty-{{len .}}">
          
          {{range $index, $element := . }}
            <li>
           
             
              <span class='qual-in-circle'>{{add $index 1}}</span>
              {{- partial "header-tag.html" (dict "context" . "header_list" .header_repeater "custom_class" "banner-header")  -}}
              <p>{{.opis_kolumny | safeHTML}}</p>
             
              <div class='cols-wrapper'>
                  <div class='left-col'>
                      {{.lewa_kolumna}}
                  </div>
                  <div class='right-col'>
                    {{.prawa_kolumna}}
                    </div>
              </div>
            </li>
          {{end}}
        </ul>
      {{end}}
  </section>
{{ end }}