html{
  font-size: 100%;
}
@font-face {
  font-family: "Geomanist";
  
  src: url("../fonts/Geomanist-Regular.otf") format("opentype");
    
  // font-weight: normal;
}
@font-face {
  font-family: "Geomanist";
  
  src: url("../fonts/Geomanist-Regular.otf") format("opentype");
    
  font-weight: 400;
}
@font-face {
  font-family: "Geomanist";
  
  src: url("../fonts/Geomanist-Thin.otf") format("opentype");
    
   font-weight: 300;
}
@font-face {
  font-family: "Geomanist";
  
  src: url("../fonts/Geomanist-Black.otf") format("opentype");
    
   font-weight: 900;
}
@font-face {
  font-family: "Geomanist";
  
  src: url("../fonts/Geomanist-Bold.otf") format("opentype");
    
   font-weight: bold;
}
@font-face {
  font-family: "Geomanist";
  
  src: url("../fonts/Geomanist-Bold.otf") format("opentype");
    
   font-weight: 700;
}
body {
  line-height: 1.2;
  font-size: 16px;
  // font-family: $secondary-font;
  font-family: Geomanist;
  -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h3.sm,h4,h5,h6,h6.sm{
  // font-family: $primary-font;
  font-weight: 700;
  // color: $black;
}

h1,.h1{
  font-size: 60px;
}

h2,.h2{
  font-size: 40px;
}

h3,.h3{
  font-size: 35px;
}

h4,.h4{
  font-size: 30px;
}

h5, .h5{
  font-size: 24px;
}

h6.big{
  font-size: 20px;
}

h6, .h6{
  font-size: 18px;
}

h6.sm{
  font-size: 16px;
}

a{
  font-size: 16px;
}

p{
  font-size: 16px;
  line-height: 1.7;
}

p.sm{
  font-size: 14px;
}
.header-template{
  line-height:1.1;
  @media (max-width: 768px){
    word-wrap: break-word;
  }
}
.txt-XXL{
  font-size: 11vw;
  
  // font-size: 3.25rem;
}
.txt-XL{
  font-size: 9vw;
  // font-size: 2.75rem;
}
.txt-L{
  font-size: 8vw;
  // font-size: 1.9375rem;
}
.txt-MD{
  font-size: 1.625rem;
}
.txt-S{
  font-size: 1.3125rem;
}
// 'XXL: 52px;<br>XL: 44px;<br>L: 31px;<br>MD: 26px;<br>S: 21px;'
.f-w300{
  font-weight: 300;
}
.f-w400{
  font-weight: 400;
}
.f-w700{
  font-weight: 700;
}
.f-w900{
  font-weight: 900;
}
.txt-break{
  display: block;
  line-height: 1.1;
}
// span{
//   font-size: 13px;
// }
@media (min-width: 768px) {
  .txt-XXL{
   
    
    font-size: 3.25rem;
  }
  .txt-XL{
   
    font-size: 2.75rem;
  }
  .txt-L{
    
    font-size: 1.9375rem;
  }
}