// Fonts
$primary-font: 'futura_bdcn_btbold';
// $primary-font: 'Roboto Condensed', sans-serif;
// $secondary-font: 'Roboto', sans-serif;
$secondary-font: 'futurabook';

// Colors
$primary-color: #ffae47;
$primary-light: #ffc275;
$black: #000;
$white: #fff;
$gray: #bcbcbc;
$border-color: #b6c1ff;
$body-color: $white;
$text-color: #858585;
$text-light: #6e6e6e;


// Footer
$footer-bg : #1e2529;