{{ define "main" }}
{{$sites :=.Sites.First.GetPage "/uploads"}}
    
    <section class="banner-area" >
        <div class='brands-nav'>
    
            {{ with .PrevInSection }}
                <a href="{{ .Permalink }}" class="prev">
                    <img class='arr-red-ico' src="{{ `images/arr_black.svg` | absURL }}">     
                    {{with .Params.name }}
                    {{.}}
                    {{else}}
                    {{ .Title }}
                    {{end}}
                </a>
            {{ end }}   
            {{ with .NextInSection }}
                <a href="{{ .Permalink }}" class="next">{{with .Params.name }}
                    {{.}}
                    {{else}}
                    {{ .Title }}
                    {{end}} <img class='arr-red-ico' src="{{ `images/arr_black.svg` | absURL }}"></a>
            {{ end }}
           
                
        </div>
    {{ with .Params }}
   
    {{if (isset . "zdjecie")}}
        {{with .zdjecie}}
            <div class="banner-img-wrapper">
            
            
                
            
            
                {{- partial "img.html" (dict "image" . "imgsizes" "80vw" "tag_class" "banner-img" "ifsrcset" "" "awsites" $sites)  -}}
            
            
            </div>
            {{end}}
            
            <div class="brand-logo-cnt"> <img class='banner-logo' src="{{ .logo_marki }}"></div>
            <div class="banner-logo-cnt"> <img class='banner-logo' src="{{ `images/s-brands-logo.svg` | absURL }}"></div>
        
            <div class='header-cnt'>
            
            
            {{- partial "header-tag.html" (dict "context" . "header_list" .header_repeater "custom_class" "banner-header")  -}}
            
            <p class="banner-desc">
                {{ .opis_pod_naglowiekm | safeHTML }}
            </p>
            <p>
                {{ .html_czysty | safeHTML }}
            </p>
            {{$tytul_odnosnika:=.tytul_odnosnika}}
            {{ if .adres_odnosnika }}
            {{ with site.GetPage .adres_odnosnika }}
                <a class='cta-button' href='{{.RelPermalink}}'>{{$tytul_odnosnika}}<img class='arr-ico' src="{{ `images/arr_white.svg` | absURL }}"></a>
            {{end}}
            {{end}}
            </div>
        {{end}}
    {{end}}
    </section>
    {{if .Params.dodaj_formularz }}
        {{- partial "form_full.en.html" . -}}
    {{end}}

   
{{end}}