.banner-area{
    position: relative;
    height: calc(100vh - 10rem);
    width: 100%;
    min-height: 45vw;
    .header-cnt{
        position: absolute;
        top: 14vw;
        left: 14.5vw;
        color: #000;
        .banner-header{
            margin-bottom: 0;
            padding-bottom: 1.5rem;
        }
        .cta-button{
            background: #000000 0% 0% no-repeat padding-box;
            border-radius: 8px;
            color: #fff;
            text-transform: uppercase;
            padding: .6rem 3rem .6rem 1.5rem;
            display: inline-block;
            margin-top: 1rem;
            position: relative;
            font-size: 1.25rem;
            transition: background .3s ease, color .3s ease;
            .arr-ico{
                transform: rotate(-90deg);
                width: .85rem;
                position: absolute;
                top: calc(50% - 0.25rem);
                right: .5rem;
            
            }
            &:hover{
                text-decoration: none;
                background: #fff;
                color: #000;
                img{
                    filter: invert(1);
                }
            }
        }

    }
    .banner-logo-cnt{
        width: ((((1920 - 1566.5) * 2) / 1920) * 100vw);
        opacity: .1;
        height: 95%;
        // left: -1.8vw;
        position: absolute;
        
        top: 0.5rem;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .banner-img-wrapper{
        position: absolute;
        z-index: -1;
        width: (1566 / 1920) * 100vw;
        right: 0;
        top: 0;
        height: 100%;
        .banner-img-cnt{
            height: 100%;
            position: absolute;
            width: 100%;
            transition: opacity .4s ease;
            opacity: 0;
            &.active{
                opacity: 1;
            }
        }
        img{
            width: 100%;
            display: block;
            height: 100%;
            object-fit: cover;
        }
    }
    .arrow-wrapper{
        .prev,.next{
            position: absolute;
            display: block;
            width: 4rem;
            height: 2rem;
            // background:red;
            cursor: pointer;
            top: calc(50% - 2rem);
            img{
                width: 100%;
                height: 100%;
                object-fit:contain;
                opacity: .29;
            }
        }
        .prev{
            left: 3rem;
            transform: rotate(90deg);
        }
        .next{
            right: 3rem;
            transform: rotate(-90deg);
        }
    }
}