.navigation{
    background: #EEEEEE;
    position: fixed;
    z-index: 99;
    width: 100%;
    top:0;
    @media (max-width: 768px){
        width: 100vw;
    }
    .top-cnt{
        display:none;
        @media (min-width: 768px) {
            height:2.8125rem;
            background-color: #000;
            font-size: 1rem;
            color: #fff;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-end;
            gap: 1rem;
            padding-right: 5rem;
            
        }
       
        align-items: center;
        a{
            color: #fff;
            text-decoration: none;
            img{
                padding: 0 .5rem;
                transform: translateY(.1rem);
            }
        }
    }
    nav{
        display: flex;
        flex-direction: row;
        height:7.1875rem;
        align-items: center;
        padding:0 1rem;
        justify-content:space-between;
        transition: height .3s ease;
        @media (min-width: 768px){
            padding:0 5rem;
        }
        .navbar-brand{
            img{
                height:3rem;
            }
            
        }
    }
    &.scrolled{
        nav{
            height:5.1875rem;
        }
    }
    #main-nav{
        @media (max-width: 767px){
            width: 100%;
            background: #EEEEEE;
            position: absolute;
            top: 5rem;
            left: 100%;
            z-index: 11;
            transition: left .3s ease;
        }
    }
    &.menu-mobile-opened{
        #main-nav{
            @media (max-width: 767px){
              
                left: 0;
               
            }
        }
    }
    .navbar-nav{
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // gap: 3rem;
        li{
            a{
                padding: 1.5rem 0;
            }
        }
       
        
        @media (min-width: 768px){
            flex-direction: row;  
            // gap: 1.5rem;
            li{
                a{
                    padding: 0 0.75rem;
                }
            }
            li:nth-child(1){
                a{
                    padding: 0 0.75rem 0 0;
                }
            }
            li:last-child{
                a{
                    padding: 0 0 0 0.75rem; 
                }
            }

        }
        @media (min-width: 1366px){
            // gap: 5rem;
            li{
                a{
                    padding: 0 2.5rem;
                }
            }
            li:nth-child(1){
                a{
                    padding: 0 2.5rem 0 0;
                }
            }
            li:last-child{
                a{
                    padding: 0 0 0 2.5rem; 
                }
            }
        }
        a{
            font: 1.25rem;
            line-height: 24/20;
            letter-spacing: 0px;
            color: #111111;
            text-decoration: none;
        }
    }
    button.navbar-toggler{
        width: 3rem;
        height: 3rem;
        background: transparent;
        border: 0;
        position: absolute; 
        right: 1rem;
        cursor: pointer;
        img{
            width: 100%;
        }
        @media (min-width: 768px){
            display: none;
        }
    }
    .lang_switch:hover{
        color: #ee2d7a;
        text-decoration: underline;
    }
    .language-switcher i {
        color: #ee2d7a;
    }
}
@media (max-width: 768px){
    div#main-nav {
        height: 70vh;
    }
    
    div#main-nav ul li.nav-item a, div#main-nav ul span a{
        font-size: 1.5em;
        line-height: 3.5;
    }
    }
