.ourbrands-area{
    margin: 3rem 2rem 2rem 2rem;
    @media (min-width: 992px){
        margin: 4rem (216/1920)* 100vw;        
    }
    ul{
        display: grid;
        
        gap: 3rem;
        list-style: none;
        padding: 2rem;
        grid-template-columns: 1fr 1fr;
      
        @media (min-width: 992px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @media (min-width: 1200px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        @media (max-width: 480px){
            gap: .5rem;
            padding: 0;
        }
        li{
            display: flex;
            justify-content: center;
            align-items: center;
            
                a.our-brand-link{
                    width: 100%;
                }
            
            .brand-img{
                width: 100%;
                height: auto;
                opacity: .2;
                filter: grayscale(100);
            }
            &.gallery-header{
                grid-area: span 2 / span 2;
                .header-cnt{
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    padding-bottom: 2rem;
                
                    .header-template{
                       
                        padding-bottom: 2rem;
                    }    
                    
                    @media (min-width: 992px){
                        flex-wrap: nowrap;
                        
                        span{
                            white-space: nowrap;
                        }
                        
                        padding-bottom: 0;
                        .header-template{
                            padding-right: 2rem;
                            align-items: end;
                            display: flex;
                            padding-bottom: 4.5rem;
                        }    
                    }
                  
                    
                }
                .description-wrapper{
                    width: 100%;
                    padding-top: 2rem;
                    border-top: 0.125rem solid #ee2d7a;
                    
                    >p{
                        font-size: 1.25rem;
                    }
                    @media (min-width: 992px){
                        
                        padding-left: 2rem;
                        border-top: 0;
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                        border-left: 2px solid #ee2d7a;
                    }
                    .cta-button{
                        background: #000000 0% 0% no-repeat padding-box;
                        border-radius: 8px;
                        color: #fff;
                        text-transform: uppercase;
                        padding: .6rem 3rem .6rem 1.5rem;
                        display: inline-block;
                        margin-top: 1rem;
                        position: relative;
                        font-size: 1.25rem;
                        transition: background .3s ease, color .3s ease;
                        .arr-ico{
                            transform: rotate(-90deg);
                            width: .85rem;
                            position: absolute;
                            top: calc(50% - 0.25rem);
                            right: .5rem;
                        
                        }
                        &:hover{
                            text-decoration: none;
                            background: #fff;
                            color: #000;
                            img{
                                filter: invert(1);
                            }
                        }
                    }
                }
                @media (min-width: 992px){
                 
                    grid-row: 2;
                }
                @media (min-width: 1200px) {
                    grid-row: unset;
                }
            }
            
        }
    }
}