.ourproducts-area{
    margin: 3rem 2rem 2rem 2rem;
    @media (min-width: 992px){
        margin: 4rem (216/1920)* 100vw;        
    }
    .header-cnt{
        text-align: center;
        line-height:1.5;
    }
    .header-template {
        text-align: center;
    }
    .sec-desc{
        width: 90%;
        margin: 1rem auto;
        @media (min-width: 992px){
            width: 50%;
            
        }
    }
    ul{
        display: grid;
        
        gap: 3rem;
        list-style: none;
        padding: 2rem;
        grid-template-columns: 1fr;
      
        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr ;
        }
        @media (min-width: 1200px) {
            gap: 5rem;
        }
        li{
            display: flex;
            // justify-content: center;
            // align-items: center;
            flex-direction: column;
            
            position: relative;
           .prod-img{
               width: 100%;
               height: auto;
           }
           .content-wrapper{
            display: flex;
            flex-direction: column;
            @media screen and (min-width: 992px) {
                width: 80%;
            }
            
           }
           .content-cnt{
               background-color: #111111;
               color: #fff;
               padding: 2rem;
                .description-wrapper{
                    width: 100%;
                
                    
                }
                .header-template{
                    color: #fff;
                    padding-bottom: 2rem;
                    text-align:left;
                }    
                
                @media (min-width: 992px){
             
                    
                    
                    .header-template{
                        
                    }    
                }
           }
            

            .cta-button{
                background: #000000 0% 0% no-repeat padding-box;
                border-radius: 8px;
                color: #fff;
                text-transform: uppercase;
                padding: .6rem 3rem .6rem 1.5rem;
                display: inline-block;
                margin-top: 1rem;
                position: relative;
                font-size: 1.25rem;
                max-width: 15rem;
                transition: background .3s ease, color .3s ease;
                box-shadow: 0px 0px 10px #0000001F;
                border: 1px solid #000000;
                align-self: flex-end;
                .arr-ico{
                    transform: rotate(-90deg);
                    width: .85rem;
                    position: absolute;
                    top: calc(50% - 0.25rem);
                    right: .5rem;
                
                }
                &:hover{
                    text-decoration: none;
                    background: #fff;
                    color: #000;
                    img{
                        filter: invert(1);
                    }
                }
            }
            @media (min-width: 992px){
                &:first-child{
                    .prod-img{
                        transform: translateX(-4rem);
                    }
                    .content-wrapper{
                        transform: translate(calc(20% + 1rem),-7rem);
                    
                    }
                }
                &:nth-child(2){
                    transform: translate(2rem,2rem);
                    .img-cnt {
                        transform: translate(2rem);
                    }
                    .content-wrapper{
                        transform: translate(-1rem,-5rem);
                    }
                }
                &:nth-child(3),&:nth-child(5),&:nth-child(7),&:nth-child(9){
                    transform: translate(-3rem,-6rem);
                    // .img-cnt {
                    //     transform: translate(2rem);
                    // }
                    .content-wrapper{
                        transform: translate(-2rem,-5rem);
                    }
                }
                &:nth-child(4),&:nth-child(6),&:nth-child(8),&:nth-child(10){
                    // transform: translate(-3rem,-6rem);
                    // .img-cnt {
                    //     transform: translate(2rem);
                    // }
                    .content-wrapper{
                        transform: translate(-2rem,-5rem);
                    }
                }
            }
        }
    }
}