{{ define "main" }}
<section class="banner-area" >
    <div class="banner-logo-cnt"> <img class='banner-logo' src="{{ `images/s-brands-logo.svg` | absURL }}"></div>
    <div class="header-cnt">
        {{- partial "header-tag.html" (dict "context" . "header_list" .Params.header_repeater "custom_class" "banner-header")  -}}
        <img class='arr-red-ico' src="{{ `images/arr_red.svg` | absURL }}">
      
    </div>
</section>
{{$tytul_odnosnika_artykulu:=.Params.tytul_odnosnika_artykulu}}
{{if .Params.wyswietl_slider}}
<section class="blog-listing-slider">
   

    <ul>
        {{ range first 3 (where .Data.Pages "Type" "blog")}} 
        <li>
            <div class="awslide-cnt">
                {{$img_alt:=.Params.opis_zdjecia}}
                {{with .Params.zdjecie_glowne}}
                    <div class='with-img-cnt'>
                        {{- partial "img.html" (dict "image" . "imgsizes" "(max-width: 992px) 100vw, 20vw" "ifsrcset" "" "tag_class" ""  "imgalt" $img_alt)  -}} 
                    </div>
                {{end}}
                
                <div class='desc-cnt'>
                    
                    <a href="{{ .Permalink }}">
                        <h3>{{ .Params.naglowek   }}</h3>
                    
                        <div class='art-summary'>{{.Params.summary | safeHTML }}</div>
                    
                    </a>
                    <div class="list-art-footer">
                        <a href="{{ .Permalink }}">
                            {{$tytul_odnosnika_artykulu}} <img class='arr-red-ico' src="{{ `images/arr_black.svg` | absURL }}">
                        </a>
                    </div>
                </div>
            </div>
        </li>
        {{end}}
    </ul>
</section>
{{end}}

    <section class="blog-listing">
        <div class="container">
            
      
            <div class="row">
                
                {{ $paginator := .Paginate (where .Data.Pages "Type" "blog") 12 }}
                
                    
                <ul class="news-list ">
                   
                {{if .Params.wyswietl_slider}}
                    {{ range after 3 $paginator.Pages }} 
                
                   
                    <li>
                        {{$img_alt:=.Params.opis_zdjecia}}
                        {{with .Params.zdjecie_glowne}}
                            <div class='with-img-cnt'>
                                {{- partial "img.html" (dict "image" . "imgsizes" "(max-width: 992px) 100vw, 20vw" "ifsrcset" "" "tag_class" ""  "imgalt" $img_alt)  -}} 
                            </div>
                        {{end}}
                        
                        <div class='desc-cnt'>
                         
                            <a href="{{ .Permalink }}">
                                <h3>{{ .Params.naglowek   }}</h3>
                           
                                <div class='art-summary'>{{.Params.summary | safeHTML }}</div>
                            
                            </a>
                            <div class="list-art-footer">
                                <a href="{{ .Permalink }}">
                                    {{$tytul_odnosnika_artykulu}} <img class='arr-red-ico' src="{{ `images/arr_black.svg` | absURL }}">
                                </a>
                            </div>
                        </div>
                    </li>
                    {{end}}
                {{else}}
                        {{ range $paginator.Pages }} 
                        <li>
                            {{$img_alt:=.Params.opis_zdjecia}}
                            {{with .Params.zdjecie_glowne}}
                                <div class='with-img-cnt'>
                                    {{- partial "img.html" (dict "image" . "imgsizes" "(max-width: 992px) 100vw, 20vw" "ifsrcset" "" "tag_class" ""  "imgalt" $img_alt)  -}} 
                                </div>
                            {{end}}
                            
                            <div class='desc-cnt'>
                             
                                <a href="{{ .Permalink }}">
                                    <h3>{{ .Params.naglowek   }}</h3>
                               
                                    <div class='art-summary'>{{.Params.summary | safeHTML }}</div>
                                
                                </a>
                                <div class="list-art-footer">
                                    <a href="{{ .Permalink }}">
                                        {{$tytul_odnosnika_artykulu}}<img class='arr-red-ico' src="{{ `images/arr_black.svg` | absURL }}">
                                    </a>
                                </div>
                            </div>
                        </li>
                        {{end}}
                {{ end }}
                </ul>
                {{ partial "pagination" .}}
            </div>
            
        </div>

    </section>
{{ end }}