{{ define "main" }}
{{$sites :=.Sites.First.GetPage "/uploads"}}
<section class="banner-area" >
  
    <div class="header-cnt">
        <h1>{{.Params.naglowek}}</h1>
        <img class='arr-red-ico' src="{{ `images/arr_red.svg` | absURL }}">
      
    </div>
</section>
<section class="blog-content">

    <!-- {{$img_alt:=.Params.opis_zdjecia}}
    {{with .Params.zdjecie_glowne}}
    <div class='with-img-cnt'>
        {{- partial "img.html" (dict "image" . "imgsizes" "(max-width: 992px) 100vw, 50vw" "ifsrcset" "" "tag_class" ""  "imgalt" $img_alt "awsites" $sites)  -}} 
    </div>
    {{end}} -->
    {{.Content}}
</section>
{{end}}